.Profile {
  position: fixed;
  top: 12px;
  right: 16px;
  height: 48px;
  width: 48px;
  z-index: 99;
  border-radius: 50%;
  background-color: rgba($color: #062354, $alpha: 0.8);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.804);

  &:hover {
    cursor: pointer;
    background-color: rgba($color: #062354, $alpha: 0.7);
  }
}
