.Profile {
  position: fixed;
  top: 12px;
  right: 16px;
  height: 48px;
  width: 48px;
  z-index: 99;
  border-radius: 50%;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: rgba($color: #ffffff, $alpha: 0.6);
  }
}
