.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.authBox2 {
  width: 404px;
  height: 504px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 0px 12px 6px rgba($color: #000000, $alpha: 0.1);

  h3 {
    color: #022c6b;
    display: block;
    padding-top: 48px;
    margin-bottom: 0;
  }
}

.authBox {
  background: #de2322;
  display: block;
  width: 504px;
  height: 504px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: none;
}

.toggler {
  display: flex;
  height: 72px;
  justify-content: space-around;
  align-items: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  color: white;
  letter-spacing: 1px;
  width: 100%;
  border-radius: 4px;
}

.toggle_deselected {
  width: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  margin: 0 8px 0 8px;
  opacity: 0.5;
}

.toggle_deselected:hover {
  cursor: pointer;
}

.toggle_selected {
  width: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  margin: 0 8px 0 8px;
  background-color: rgba(0, 0, 0, 0.1);
}

.toggle_selected:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.icon {
  opacity: 1;
  margin-right: 4px;
  height: 18px;
  width: auto;
}

.icon_deselected {
  opacity: 0.5;
  margin-right: 4px;
  height: 18px;
  width: auto;
}
.formContainer {
  height: 324px;
}
.options {
  border-top: 2px rgba(0, 0, 0, 0.2) solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 8px;
  background-color: white;

  .AlreadyAMember {
    color: rgba(0, 0, 0, 0.8);
    padding-left: 10px;

    .options_span {
      color: #0066ff;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .notAMember {
    color: rgba(0, 0, 0, 0.8);
    padding-left: 8px;

    .options_span {
      color: #0066ff;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .close_button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    background: #de2322;
    border: none;
    border-radius: 3px;
    border: 2px #de2322 solid;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    background: white;
    color: #de2322;
    align-self: center;

    &:hover {
      background-color: #de2322;
      color: white;
    }
  }
}
